body {
  margin: 0;
  padding: 0;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  justify-content: space-around;
}

.navbar-link {
  width: 576px;
  height: 40px;
  border-radius: 4px;
  margin-top: 16px;
}

.navbar-link ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar-link li {
  display: inline-block;
  margin-right: 20px;
}

.navbar-link a {
  text-decoration: none;
  font-family: Kumbh Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: right;
  color: #4a556c;
}

.logo {
  margin-top: 16px;
  margin-left: 85px;
}

.nav-button {
  width: 193px;
  height: 40px;
  left: 383px;
  border-radius: 4px;
  padding: 11px, 16px, 11px, 16px;
  gap: 10px;
  background: #20ad96;
  border: none;
}

.nav-btn-text {
  font-family: Kumbh Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  color: #fff;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #dcd7d7;
  margin: 6px 0;
}

/* media query */
@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  header {
    display: block;
  }

  .navbar-link {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    background-color:#dcd7d7;
    z-index: 1;
  }

  .navbar-link a{
    margin-left: 9px;
    font-size: 18px;
  }

  .nav-button{
    margin-top: 10px;
  }

  .navbar-link.show {
    display: flex;
  }

  .navbar-link li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .mobile-nav {
    display: flex;
  }
}
