body {
  margin: 0;
  padding: 0;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/*------------------ header styles----------------- */

header {
  display: flex;
  justify-content: space-around;
}

.navbar-link {
  width: 576px;
  height: 40px;
  border-radius: 4px;
  margin-top: 16px;
}

.navbar-link ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar-link li {
  display: inline-block;
  margin-right: 20px;
}

.navbar-link a {
  text-decoration: none;
  font-family: Kumbh Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: right;
  color: #4a556c;
}

.logo {
  margin-top: 16px;
  margin-left: 85px;
}

.nav-button {
  width: 193px;
  height: 40px;
  left: 383px;
  border-radius: 4px;
  padding: 11px, 16px, 11px, 16px;
  gap: 10px;
  background: #20ad96;
  border: none;
  cursor: pointer;
}

.nav-btn-text {
  font-family: Kumbh Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  color: #fff;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #dcd7d7;
  margin: 6px 0;
}

/* ----------------banner styles----------------- */

.banner-body {
  width: 1440px;
  height: 703px;
  margin-top: 10px;
  background-color: #faf8f6;
}

.banner-tow-side {
  display: flex;
  justify-content: space-around;
}

.banner-vector {
  margin-top: 55px;
  margin-left: 34px;
}

.banner-left {
  width: 545px;
  height: 396px;
  top: 200px;
  left: 85px;
  border-radius: 24px;
}

.banner-mini-title {
  font-family: Kumbh Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 5px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #4a556c;
  opacity: 0.4;
}

.banner-title {
  font-family: Kumbh Sans;
  font-size: 72px;
  font-weight: 800;
  line-height: 86px;
  letter-spacing: -0.01em;
  text-align: left;
}

.banner-text {
  font-family: Kumbh Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.banner-btn {
  width: 250px;
  height: 42px;
  top: 554px;
  left: 85px;
  padding: 9px, 16px, 9px, 16px;
  border-radius: 10px;
  gap: 10px;
  background: #20ad96;
  border: none;
  cursor: pointer;
}

.banner-btn-text {
  font-family: Kumbh Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.banner-right {
  width: 462px;
  height: 603px;
  margin-top: 50px;
  margin-right: 80px;
}

.banner-img-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 237px;
  height: 104px;
  margin-right: 200px;
  gap: 10px;
  position: absolute;
  top: 140px;
  left: 896px;
}

.banner-img-icon-text,
p {
  font-family: AvertaStd-Black;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.03em;
  color: #333461;
  font-weight: bolder;
}

.banner-img-icon-sm-text {
  font-family: AvertaStd-Regular;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #8e95a3;
}

/*------------------ help section style ----------------------*/
.help-part1 {
  width: 1034px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-left: 100px;
}

.help-vector {
  position: relative;
  width: 101px;
  height: 17px;
  top: 120px;
  left: 120px;
}

.help-part1-text1 {
  width: 492px;
  height: 112px;
  font-family: Kumbh Sans;
  font-size: 32px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.01em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-part1-text2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-part1-text2 p {
  width: 478px;
  height: 200px;
  font-family: Kumbh Sans;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #4a556c;
}
/* --------------------media query ------------------*/
@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  /*-------------- header styles------------ */

  header {
    display: block;
  }

  .navbar-link {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #dcd7d7;
    z-index: 1;
  }

  .navbar-link a {
    margin-left: 9px;
    font-size: 18px;
  }

  .nav-button {
    margin-top: 10px;
  }

  .navbar-link.show {
    display: flex;
    margin-top: 50px;
  }

  .navbar-link li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .mobile-nav {
    display: flex;
  }

  .logo {
    width: 230px;
    margin-top: 16px;
    margin-left: 40px;
  }

  /*--------------- banner styles------------- */
  .banner-body {
    width: 100%;
  }

  .banner-tow-side {
    display: block;
    justify-content: space-around;
  }

  .banner-vector {
    margin-top: 35px;
    margin-left: 0px;
  }

  .banner-vector,
  img {
    width: 100px;
  }

  .banner-left {
    width: 100%;
  }

  .banner-title {
    font-family: Kumbh Sans;
    font-size: 52px;
    font-weight: 800;
    line-height: 66px;
    letter-spacing: -0.01em;
    text-align: left;
  }

  .banner-right {
    width: 100%;
    margin-top: 120px;
  }

  .banner-right,
  img {
    width: 100%;
  }

  .banner-img-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 190px;
    height: 70px;
    gap: 10px;
    position: absolute;
    top: 726px;
    left: 0px;
  }

  /*------------------- help section ----------------------*/
  .help-vector {
    position: relative;
    width: 101px;
    height: 17px;
    top: 500px;
    left: 0px;
  }

  .help-part1 {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 500px;
    margin-left: 0;
  }

  .help-part1-text1 {
    width: 100%;
    font-family: Kumbh Sans;
    font-size: 22px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .help-part1-text2 p {
    width: 100%;
    font-family: Kumbh Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #4a556c;
  }
}
